DATABASE_URI=postgres://<user>:<password>@127.0.0.1:5432/boilerplate
DEV_DATABASE_URI=postgres://postgres:postgres@127.0.0.1:5432/boilerplate

PAYLOAD_SECRET=something-realy-secret

RESEND_API_KEY=private-key
RESEND_EMAIL="subDomain@domain.com"
RESEND_NAME="UserName"

BLOB_READ_WRITE_TOKEN="private-key"